

<div class="container">
 <h1>Welcome Home <%= current_user.name %>  </h1>
  <div class="row">
    <div class="col-md-4">
    <h2 class="text-center">Past</h2>
      <ul>
        <%= render partial: 'shared/event', collection: @user_events_p %>
      </ul>
    </div>
    <div class="col-md-4">
    <h2 class="text-center">Upcoming</h2>
      <ul>
        <%= render partial: 'shared/event', collection: @user_events %>
      </ul>
    </div>

    <div class="col-md-4">
      <%= render 'events/form' %>
    </div>
    </div>

  </div>


</div>